.page {
  max-width: 1150px;
  font-family: 'Nunito', sans-serif;
  color: #3E3F43;
  box-sizing: border-box;
  margin: 0 auto;
}

.header {
  min-height: 800px;
  position: relative;
  z-index: 1;
  margin-bottom: 100px;
}

.header__menu {
   min-height: 80px;
}

.logo-image {
  background: url(/image/Group28.png) no-repeat;
}

.logo-image_header_place {
  position: absolute;
  width: 192px;
  height: 33px;
  left: 80px;
  top: 23px;
}

.header__menu-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  list-style: none;
  margin: 0;
  position: absolute;
  width: 430px;
  height: 22px;
  left: 387px;
  top: 27px;
  }

.header__menu-item {
  margin-right: 48px;
}

.header__menu-item:last-child {
  margin: 0;
}

.header__menu-link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba(34, 34, 34, 0.75);
}

.header__menu-item:first-child .header__menu-link {
  color:#DAA520;
  font-weight: 800;
}

/**/

.header__subtitle {
  position: absolute;
  width: 504px;
  height: 98px;
  left: 102px;
  top: 217px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  margin: 0;
  margin-bottom: 16px;
}

.header__subtitle-weight {
  font-weight: 700;
}

.header__title {
  position: absolute;
  width: 504px;
  height: 196px;
  left: 102px;
  top: 331px;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
  margin: 0;
}

.header__main-illustration {
  position: absolute;
  width: 568px;
  height: 577px;
  left: 584px;
  top: 165px;
}

.header__background-pic {
  position: absolute;
  width: 370px;
  height: 800px;
  left: 782px;
  top: 0px;
  background: #F9BDBD;
  z-index: -1;
  border-bottom-left-radius: 130px;
}


.button {
  width: 175px;
  height: 50px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  background: #DAA520;
  border-radius: 4px;
  border: none;
  padding: 0;
}

.header__button {
  position: absolute;
  left: 102px;
  top: 543px;
}

/* ABOUT US*/

.about-us {
  min-height: 950px;
  position: relative;
  z-index: 1;
  margin-bottom: 120px;
}

.content-us {
  margin-left: 100px;
}

.section-title {
  width: 952px;
  height: 98px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 100px;
}

.title-block {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  margin:0;
}

.name-block {
  margin:0;
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  text-align: right;
  color: rgba(34, 34, 34, 0.1);
  text-transform: uppercase;
}

.background-block {
  width: 278px;
  height: 388px;
  z-index: -1;
  border-top-right-radius: 120px 120px;
  border-bottom-left-radius: 120px 120px;
}

.background-block_content_place {
  position: absolute;
  left: 100px;
  top: 138px;
  background: #F7DEA6;
}

.content-us__image {
  position: absolute;
  width: 388px;
  height: 306px;
  left: 138px;
  top: 220px;
}

.content-us__text {
  position: absolute;
  width: 448px;
  height: 180px;
  left: 604px;
  top: 242px;
}

.content-us__text-first {
  margin: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
}

.content__text-normal {
  font-weight: normal;
}

.content-us__text-second {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.content-us__text-last {
  position: absolute;
  width: 648px;
  height: 131px;
  left: 102px;
  top: 693px;
}

.content-us__text-last-first {
  margin: 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  color: #000000;
  width: 648px;
}

.content__text-last-bold {
  font-weight: 800;
}

.content-us__text-second-second {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.content-us__image-second {
  position: absolute;
  width: 287px;
  height: 384px;
  left: 865px;
  top: 566px;
}

/* How it works*/

.how-content {
  min-height: 453px;
  margin: 0 100px;
  margin-bottom: 120px;
  z-index: 1;

}

.work-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 952px;
  height: 177px;
  margin-top: 64px;

}

.work-element {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 238px;
  min-height: 177px;
}

.work-element__number {
  margin:0;
  width: 58px;
  height: 131px;
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 131px;
  text-align: center;
  color: rgba(249, 189, 189, 0.25);
  z-index: -1;
  position: absolute;
  left: 17px;
  top: 18.5px;
}

.work-element__subtitle {
  width: 238px;
  min-height: 33px;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #000000;
}

.button__how-it-works {
  width: 212px;
  height: 50px;
  margin-top: 64px;
}

.button-position {
  width: 100%;
  display: flex;
  justify-content: center;
}

/*cathegories*/

.categories-content {
  margin-left: 100px;
  margin-bottom: 120px;
  z-index: 1;
  min-height: 978px;
}

.product-items {
  margin-top: 46px;
  position: relative;
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.product-item {
  width: 280px;
  height: 400px;
  margin-right: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

}

.product-item:last-child {
  margin: 0;
}

.product-item__button {
  position: absolute;
  width: 123px;
  height: 40px;
  left: 141px;
  top: 336px;
  background: #F9BDBD;
  border: 1px solid #3E3F43;
  box-sizing: border-box;
  border-radius: 4px;
}

.background-block__product-item {
  position: absolute;
  background: #F9BDBD;
}

.product-item:nth-child(3n+2) .background-block__product-item, .product-item:nth-child(3n+2) .product-item__button {
  background: #F7DEA6;
}

.product-item:nth-child(3n) .background-block__product-item, .product-item:nth-child(3n) .product-item__button {
  background-color: #A8DCEC;
}

.product-item__title {
  margin: 0;
  position: absolute;
  left: 16px;
  top: 24px;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #3E3F43;
}

.product-item__title_new_position {
  left: 40px;
  top: 24px;
}

.roduct-item__img_new_position {
  position: relative;
  left: -15px;
}
